body{
    text-align: center;
}
#reset_password_box{
    text-align: center;
    margin: 0 auto;
    width:300px;
    height:auto;
}
#row_logo_img{
    margin-bottom: 20px;
}
#logo_img{
    width: 25%;
    height: 25%;
}
#user_email{
    margin-bottom: 20px;
}
#reset_password_button{
    width: 75%;
}
#row_reset_password_button{
    margin-bottom: 20px;
}