    body{
    text-align: center;
}
#sign_up_box{
    text-align: center;
    margin: 0 auto;
    width:300px;
    height:auto;
}
#row_logo_img{
    margin-bottom: 20px;
}
#logo_img{
    width: 25%;
    height: 25%;
}
#username{
    margin-bottom: 20px;
}
#user_email{
    margin-bottom: 20px;
}
#password{
    margin-bottom: 20px;
}
#row_creat_button{
    margin-bottom: 20px;
}
#creat_button{
    width: 75%;
}
#sign_in_button{
    width: 75%;
}